# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Variáveis e Operadores</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

### Trabalhando com Variáveis

In [1]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [2]:
# Imprimindo o valor da variável
var_teste

1

In [ ]:
# Imprimindo o valor da variável
print(var_teste)

In [ ]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
my_var

In [3]:
var_teste = 2

In [4]:
var_teste

2

In [5]:
type(var_teste)

int

In [6]:
var_teste = 9.5

In [7]:
type(var_teste)

float

In [8]:
x = 1

In [9]:
x

1

### Declaração Múltipla

In [10]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [11]:
pessoa1

'Bob'

In [12]:
pessoa2

'Maria'

In [13]:
pessoa3

'Ana'

In [14]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [15]:
fruta1

'Melancia'

In [16]:
fruta2

'Melancia'

In [17]:
fruta3

'Melancia'

In [ ]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

> Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).

In [18]:
x1 = 50

In [19]:
x1

50

In [ ]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números
1x = 50

> Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [ ]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

### Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [20]:
largura = 2

In [21]:
altura = 4

In [22]:
area = largura * altura

In [23]:
area

8

In [35]:
perimetro = 2 * largura + 2 * altura

In [36]:
perimetro

12

In [37]:
# A ordem dos operadores é a mesma seguida na Matemática, para fazer a soma primeiro deve-se usar parentesis
perimetro2 = 2 * (largura + 2)  * altura

In [38]:
perimetro2

32

### Operações com Variáveis

In [39]:
idade1 = 25

In [40]:
idade2 = 35

In [41]:
idade1 + idade2

60

In [42]:
idade2 - idade1

10

In [43]:
idade2 * idade1

875

In [44]:
idade2 / idade1

1.4

In [45]:
idade2 % idade1

10

### Concatenação de Variáveis

In [46]:
nome = "Bob"

In [47]:
sobrenome = "Marley"

In [48]:
fullName = nome + " " + sobrenome

In [49]:
fullName

'Bob Marley'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>